table {
    border-collapse: collapse;
    width: 96%;
    table-layout: fixed;
    margin-top: 4px;
}

h1 {
    text-align: center;
    margin-top: 1.2em;
}

th, td {
    text-align: center;
}

@media only screen and (max-width: 413px) {
    tbody tr td {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    tr {
        border-bottom: 1px solid black;
        margin-top: 4px;
        padding-top: 4px;
    }

    th {
        display: none;
    }

    td {
        padding-bottom: 2px;
    }
}
