form {
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-direction: column;
    width: 23vw;
    margin: auto;
    margin-top: 5.5em;
    background-color: rgb(235, 242, 247);
    border-radius: 10px;
    padding: 2.5em;
}
.form h2 {
    padding-top: 1.5em;
    padding-bottom: 1em;
    font-size: 1.5rem;
}

label p {
    padding-bottom: 0.8em;
    padding-top: 0.3em;
}

.loginButton {
    padding: 1em 2em;
    background-color: rgb(57, 77, 149);
    border-radius: 10px;
    margin-top: 1em;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 75%;
    color: #fff;
}

label input {
    padding: 0.4em;
    border-radius: 0.5em;
    border-color: lightgrey;
    border-width: thin;
    font-size: 15px;
    width: 75%
}